// ==========================================================================
// Vlaanderen UI -- Steps
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Components
// ==========================================================================
@import "vl-ui-steps/src/scss/steps";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

#title-label {
    display: inline-block;
    margin-left: 3rem;
}

.vl-step--accordion {
    &.js-vl-accordion--open {
        .vl-step__content-wrapper {
            overflow: inherit;
        }
    }
}